<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <title>Elixir Video Chat</title>
    <style>
      body {
        font-family: system-ui, -apple-system, sans-serif;
        margin: 2rem;
        line-height: 1.45;
        color: #1a1a1a;
      }
    </style>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
